@import url(./header.css);
@import url(./home.css);
@import url(./sobre-mim.css);
@import url(./projetos.css);
@import url(./habilidades.css);
@import url(./formacao.css);
@import url(./contato.css);

html{
    scroll-behavior: smooth;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    width: 100vw;
    background-color: #232323;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    overflow-x: hidden;
}

/* Rodape */
footer{
    background-color: #151515;
    font-size: 1.2rem;
    color: #f6f6f6;
    padding: 2rem;
}

footer a{
    color: #0180FF;
    text-decoration: none;
}